.form-container {
  width: 700px;
  height: 500px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.27);
  -moz-box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.27);
  box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.27);


  .form-title {
    width: 100%;
    text-align: center;
    color: #696969;
    font-size: 30px;
    text-transform: uppercase;
  }

  .form {
    width: 100%;
    padding: 20px 0;

    label {
      width: 80%;
      margin: auto;
      display: block;
    }

    input, textarea {
      background-color: #DCDCDC;
      color: #808080;
      font-size: 15px;
      padding: 25px 10px;
      border: 0;
      width: 80%;
      margin: 0 auto;

      &:focus {
          box-shadow: none;
      }
    }

    textarea {
      resize: none;
      height: 90px;
      padding: 10px;
    }

    button {
      width: 80%;
      display: block;
      padding: 10px;
      margin: 40px auto 0;
      text-transform: uppercase;
    }

    .form-text {
      width: 80%;
      margin: 2px auto;
    }
  }

  a {
    width: 100%;
    text-align: center;
  }
}
